doctype html
html(lang="ko")
  head
    title
      | Avoido
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet" href="../public/css/main.css")
  body
    header
      #title
        | Avoido
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script(src="../public/js/main.js")
